body {
    font-family: Arial, sans-serif;
    background: #1A05A2;
    margin: 0;
    color: white;
    min-height: 100vh;
}

h1 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: #F67D31;
}

.weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding:16px;
    box-sizing: border-box;
}

.weather-card {
    flex: 1 1 200px;
    max-width: 300px;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    padding: 16px;
    text-align: center;
    border-top: 6px solid #DE1A58;
    box-sizing: border-box;
}
/* tablets */
@media (max-width: 600px) {
    .weather-card {
        flex: 1 1 50%;
    }
}
/* mobile */
@media (max-width: 400px) {
    .weather-card {
        flex: 1 1 100%;
    }
}

.weather-card h2 {
    color: #8F0177;
}

.temp {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
    color: #DE1A58;
}

.weather-card p {
    color: #555;
}

.home-city {        
    border: 3px solid #000;
    background: #fff;
    color: #000
}

.home-city h2 {
    color: #333;
}

.home-city .temp {
    color: #555;
}

.home-city p {
    color: #666;
}

.warm {
    color: #FF4500;
}
.cold {
    color: #1E90FF;
}
.same {
    color: green;
}

.weather-card p.warm {
    color: #FF4500;
}
.weather-card p.cold {
    color: #1E90FF;
}
.weather-card p.same {
    color: green;
}   